.App-button {
  background-color: white;
  color: #8c959e;
  min-height: 60px;
  padding: 15px 20px;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #8c959e;
}

.App-button-selected {
  background-color: #424ea6;
  color: white;
  min-height: 60px;
  padding: 15px 20px;
  border-radius: 10px;
  box-shadow: 1px 1px 2px 3px #424ea610;
}
